.App {
  text-align: center;
  padding: 20px;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.team-table th,
.team-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.team-table th {
  background-color: #f0f0f0;
}

.game-box {
  padding: 5px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Optional: Center the table horizontally */
.team-list {
  display: flex;
  justify-content: center;
}


.game-box:hover {
  background-color: #f0f0f0;
}

.selected-cell {
  cursor: default;
  pointer-events: none;
}

.selected {
  border: 2px solid #007bff;
  border-radius: 50%;
  padding: 4px;
}